In [2]:
import pandas as pd

In [ ]:
import pandas as pd
dfs = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
df = dfs[0]

In [ ]:
l = []
for i in range(len(df)):
    if df.iloc[i]['Borough'] == 'Not assigned':
        l.append(i)
df = df.drop(l)
df.reset_index(inplace = True)
df = df.drop('index', axis = 1)

In [ ]:
for i in range(len(df)):
    if df.iloc[i]['Neighborhood'] == 'Not assigned':
        df.iloc[i]['Neighborhood'] = df.iloc[i]['Borough']
df = df.sort_values(by=['Postcode'])
df.reset_index(inplace = True)
df = df.drop('index', axis = 1)

In [ ]:
for i in range(len(df)-1):
    if df.iloc[i+1]['Postcode'] == df.iloc[i]['Postcode']:
        df.iloc[i+1]['Neighborhood'] = df.iloc[i]['Neighborhood']+', ' +df.iloc[i+1]['Neighborhood']

In [ ]:
l = []
for i in range(len(df)-1):
    if df.iloc[i]['Postcode'] == df.iloc[i+1]['Postcode']:
        l.append(i)
df = df.drop(l)
df.reset_index(inplace = True)
df = df.drop('index', axis = 1)

In [4]:
df1 = pd.read_csv('Geospatial_Coordinates.csv')

In [5]:
df

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [6]:
df1 = df1.sort_values(by=['Postal Code'])
df1.reset_index(inplace = True)
df1 = df1.drop('index', axis = 1)

    Postal Code   Latitude  Longitude
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
5           M1J  43.744734 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[102 rows x 3 columns]